* {
  margin: 0;
  padding: 0;
}

.header {
  background: #161616;
  border-radius: 30px;
  color: white;
  height: 600px;
  width: 1200px;
  display: flex;
  margin: 50px auto;
}

.header-text {
  width: 50%;
  padding: 80px 90px;
}

.header-text h1 {
  font-weight: 700;
  line-height: 70px;
  font-size: 70px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-text p {
  color: lightgoldenrodyellow;
  line-height: 25px;
  margin: 20px 50px 0 0;
}

.header-text button {
  width: 187px;
  height: 56px;
  left: 246px;
  top: 529px;
  margin-top: 25px;
  background: #dd0000;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  /* width: 103px;
  height: 23px; */
}

button .fa-chevron-right {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}
.header-img {
  width: 50%;
}

.header-img img {
  width: 500px;
  height: 86vh;
  margin-bottom: 0;
  left: 801px;
  top: 83px;
}

.main {
  width: 1200px;
  margin: 150px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}

.nav-items {
  background-color: black;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  margin: 0 30px 0 30px;
  padding: 20px;
  background-color: white;
  color: #2d2c2c;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
}

.nav-item:nth-of-type(3) {
  background-color: #dd0000;
  color: white;
}

.blog-items {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.blog-item {
  width: 280px;
  height: 300px;
  border-radius: 5px;
}

.blog-img {
  width: 100%;
}

.blog-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.blog-content {
  margin: 10px;
}

.blog-content button {
  width: 100px;
  height: 32px;
}

.blog-content p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #4b4a4a;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: start;
  color: gray;
}

.icons img {
  margin-right: 10px;
}

.time-icon {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-self: center;
}

.chat-icon {
  display: flex;
  margin: 0 10px;
  align-items: center;
  justify-self: center;
}

footer {
  width: 100%;
  height: 444px;
  margin: 0;
  left: 0px;
  top: 2090px;
  background: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h1 {
  color: white;
}

footer hr {
  border: 1px solid gray;
  width: 85%;
  margin: 35px 0 40px;
}

footer a {
  text-decoration: none;
  color: #a7a3a3;
  margin: 25px;
}

.social-media {
  font-size: 25px;
  margin-top: 50px;
}
