* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background: #161616;
  border-radius: 30px;
  color: white;
  height: 600px;
  width: 1200px;
  display: flex;
  margin: 50px auto;
}

.header-text {
  width: 50%;
  padding: 80px 90px;
}

.header-text h1 {
  font-weight: 700;
  line-height: 70px;
  font-size: 70px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-text p {
  color: lightgoldenrodyellow;
  line-height: 25px;
  margin: 20px 50px 0 0;
}

.header-text button {
  width: 187px;
  height: 56px;
  left: 246px;
  top: 529px;
  margin-top: 25px;
  background: #dd0000;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

button .fa-chevron-right {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.header button {
  animation-duration: 2s;
  animation-name: slidein;
}

.header button {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-name: colorize;
}

@keyframes colorize {
  from {
    background-color: red;
  }
  to {
    background-color: rgb(133, 133, 1);
  }
}

.header-img {
  width: 50%;
}

.elipsis-text {
  white-space: nowrap;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-img img {
  width: 500px;
  height: 86vh;
  margin-bottom: 0;
  left: 801px;
  top: 83px;
}

.main {
  width: 1200px;
  margin: 150px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}

.nav-items {
  background-color: black;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  margin: 0 30px 0 30px;
  padding: 20px;
  background-color: white;
  color: #2d2c2c;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
}

.nav-item:nth-of-type(1) {
  background-color: #dd0000;
  color: white;
}

.match-items {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.match-item {
  width: 280px;
  height: 250px;
  border: 1px solid #d4d3d3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-item h3 p {
  margin-bottom: 20px;
}

.match-item h3 {
  margin: 20px 0;
}

.flag-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flag-items p {
  margin: 0 10px;
}

footer {
  width: 100%;
  height: 444px;
  margin: 0;
  left: 0px;
  top: 2090px;
  background: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h1 {
  color: white;
}

footer hr {
  border: 1px solid gray;
  width: 85%;
  margin: 35px 0 40px;
}

footer a {
  text-decoration: none;
  color: #a7a3a3;
  margin: 25px;
}

.social-media {
  font-size: 25px;
  margin-top: 50px;
}
